.color-navbar {
  background-color: cyan;
}
.navbar-brand {
  font-size: 15px;
}
.dropdown-toggle {
  font-size: 12px;
}
.navbar-nav {
  font-size: 12px;
}

.navbar-nav a:active {
  text-decoration: underline;
  line-height: 1em;
}
