.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.RoutesPlan_routeplanDiv__31IDI  .react-daterange-picker__button svg {
  height: 16px !important;
  width: 15px !important;
}
.RoutesPlan_routeplanDiv__31IDI  .react-daterange-picker__wrapper {
  max-width: 190px;
  font-size: 10px;
  background-color: white;
  border: 1px solid #ced4da !important;
}
.RoutesPlan_routeplanDiv__31IDI  .react-daterange-picker__range-divider {
  font-size: 17px;
}

.RoutesPlan_routeplanDiv__31IDI  .react-calendar {
  font-size: 15px;
}

.RoutesPlan_routeplanDiv__31IDI  .react-daterange-picker__inputGroup__input {
  min-width: 4px !important;
}
.react-daterange-picker__button {
  padding: 5px 3px !important;
}

/* datetimerangepicker */
 .RoutesPlan_routeplanDiv__31IDI  .react-datetimerange-picker__wrapper {
  max-width: 450px;
  font-size: 15px;
  background-color: white;
  border: 1px solid #ced4da !important;
}
.RoutesPlan_routeplanDiv__31IDI  .react-datetimerange-picker__inputGroup__input {
  min-width: 4px !important;
}
.RoutesPlan_routeplanDiv__31IDI  .react-datetimerange-picker__range-divider {
  font-size: 19px !important;
} 
.legends {
  font-size: 12px;
  font-family: sans-serif;
  
}
rect {
  stroke-width: 2;
}
